.p-login {
  background: lightgrey;
  padding: 16px;
  .p-login-logo {
    display: block;
    margin: 50px auto 20px;
  }
  .p-login-chunk {
    margin: 0 auto 20px;
    width: 300px;
    text-align: center;
  }
}
